In [15]:
import numpy as np

In [16]:
import pandas as pd

In [3]:
data = pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data.values

array([1, 2, 3, 4, 5])

In [5]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
data[0]

1

In [12]:
data[1:3]

1    2
2    3
dtype: int64

In [19]:
data[-1:]

4    5
dtype: int64

In [20]:
data.iloc[-1]

5

In [22]:
data = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [23]:
data['c']

3

In [28]:
data= pd.Series(dict(a=1, b=2, c=3, d=4, e=5))
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [29]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [30]:
series_1 = pd.Series(dict(a=1, b= 2, c=3, d=4,e=5))

In [33]:
series_2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))

In [34]:
df = pd.DataFrame({'column_1':series_1, 'column_2':series_2})

In [35]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [36]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [37]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [38]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [40]:
df['a']

KeyError: 'a'

In [41]:
df['column_1']['a']

1

In [43]:
df['column_2']['c']

13

In [47]:
df2 = pd.DataFrame([[1,2],[11,12],[21,22]], index=['a','b','c'], columns=['col_1','col_2'])

In [48]:
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [49]:
df3 = pd.DataFrame([[1,2,3],[11,12,13]], index=['a','b'], columns=['col_1','col_2','col_3'])

In [50]:
df3

   col_1  col_2  col_3
a      1      2      3
b     11     12     13

In [51]:
df.at['a','column_1']

1

In [52]:
df.at['b','column_2'] = 100

In [53]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4        14
e         5        15

In [54]:
df.iat[2,0]

3

In [55]:
df.iat[3,1] = 1000

In [56]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4      1000
e         5        15

In [57]:
df.loc['b':'d', 'column_1']

b    2
c    3
d    4
Name: column_1, dtype: int64

In [70]:
df.loc['d':'e', 'column_1':'column_2'] = [[0.1, 0.2], [0.3, 0.4]]
df.loc['d':'e', 'column_1':'column_2']

   column_1  column_2
d       0.1       0.2
e       0.3       0.4

In [63]:
df

   column_1  column_2
a       1.0      11.0
b       2.0     100.0
c       3.0      13.0
d       0.1       0.2
e       0.3       0.4

In [64]:
df.iloc[[1,3],[0,1]]

   column_1  column_2
b       2.0     100.0
d       0.1       0.2

In [68]:
df.iloc[[2,4],[0,1]] = [[10001,10002],[10003,10004]]
df.iloc[[2,4],[0,1]]

   column_1  column_2
c   10001.0   10002.0
e   10003.0   10004.0

In [69]:
df

   column_1  column_2
a       1.0      11.0
b       2.0     100.0
c   10001.0   10002.0
d       0.1       0.2
e   10003.0   10004.0

In [75]:
df.loc['a':'b','column_1':'column_2'] = [[3.1, 1.4], [2.2, 6.8]]

In [78]:
df.loc['a':'b','column_1':'column_2']

   column_1  column_2
a       3.1       1.4
b       2.2       6.8

In [79]:
df.to_csv('df_data.csv')

In [83]:
df2.to_excel('df2_data.xlsx')

In [81]:
df3 = pd.read_csv('df_data.csv')

In [84]:
df4 = pd.read_excel('df2_data.xlsx')

In [85]:
df

   column_1  column_2
a       3.1       1.4
b       2.2       6.8
c   10001.0   10002.0
d       0.1       0.2
e       0.3       0.4

In [86]:
df3

  Unnamed: 0  column_1  column_2
0          a       3.1       1.4
1          b       2.2       6.8
2          c   10001.0   10002.0
3          d       0.1       0.2
4          e       0.3       0.4

In [87]:
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [88]:
df4

  Unnamed: 0  col_1  col_2
0          a      1      2
1          b     11     12
2          c     21     22

In [93]:
df3 = pd.read_csv('df_data.csv', index_col=0)

In [94]:
df3

   column_1  column_2
a       3.1       1.4
b       2.2       6.8
c   10001.0   10002.0
d       0.1       0.2
e       0.3       0.4

In [95]:
df4 = pd.read_excel('df2_data.xlsx', index_col=0)

In [96]:
df4

   col_1  col_2
a      1      2
b     11     12
c     21     22